.beneficios {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 10px;
  position: relative;
}

.beneficios__titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -20px 10px;
}

.beneficios__titulo h2 {
  color: #00ce9d;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

.beneficios__contenedor--grupo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.beneficios__contenedor--grupo .beneficio {
  width: 350px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 3px 15px;
  margin: 5px 0;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.beneficio__img {
  margin-top: 10px;
  height: 30px;
  width: auto;
  object-fit: contain;
}

.boton__continuar {
  text-align: center;
  margin-top: 5px;
}

.boton__continuar button {
  padding: 10px;
  width: 250px;
  background: #ff4500;
  font-size: 20px;
  color: #ffffff;
  border-radius: 15px;
  border: none;
}
