.card {
  background: #FFFFFF;
  border-radius: 10px 10px 0 0;
  height: 180px;
  width: 100%;
}

.card__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__texto {
  text-align: left;
  font-size: 16px;
  margin: 10px 10px 10px 20px;
  width: 40%;
}

.card__img {
  border-radius: 0 10px 0 0;
  height: 180px;
  display: flex;
  width: 60%;
  max-width: 200px;
  clip-path: ellipse(100% 100% at 100% 100%);
}


