.card {
  background: #FFFFFF;
  border-radius: 10px;
  height: 180px;
  width: 100%;
}

.card__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__texto {
  height: 180px;
  text-align: left;
  font-size: 16px;
  margin: 0 5px 0 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card__texto .spannombre{
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  text-align: left;
}

.card__texto .spanprecio{
  color: #391A7D;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.card__img {
  border-radius: 0 0 10px 0;
  height: 150px;
  display: flex;
  width: 50%;
  max-width: 200px;
  align-self: flex-end;
  clip-path: ellipse(100% 100% at 100% 100%);
}


