.card {
  background: #FFFFFF;
  border-radius: 10px 10px 0 0;
  height: 100px;
  display: flex;
}

.card__texto {
  text-align: left;
  font-size: 16px;
  margin: 10px 20px;
  align-items: center;
  display: flex;
}

.card__img {
  border-radius: 95% 5% 0% 0% / 100% 5% 0% 0% ;
  background-color: pink;
  height: 100px;
  width: 250px;
}