.close {
  text-decoration: none;
  font-size: 33px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  background: #00ce9d;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.close--span {
  font-size: 30px;
  color: white;
}

.close:hover {
  background: #60aff0;
}


