.close {
  text-decoration: none;
  font-size: 33px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  background: #00ce9d;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  align-self: flex-end;
}

.close--span {
  font-size: 30px;
  color: white;
}

.close:hover {
  background: #60aff0;
}

.close--title {
  font-weight: 700;
  font-size: 36px;
  color: #00ce9d;
  text-align: center;
  margin: auto;
}
