.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.naranja {
  width: 85%;
  height: 40px;
  background: #ff4500;
  border: none;
  border-radius: 12px;
  margin: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.verde {
  width: 85%;
  height: 40px;
  background: #00ce9d;
  border: none;
  border-radius: 12px;
  margin: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.naranja:hover,
.naranja:focus {
  outline: none;
  cursor: pointer;
  background: rgba($color: #e24500, $alpha: 1);
}

.verde:hover,
.verde:focus {
  outline: none;
  cursor: pointer;
  background: rgba($color: #00ad85, $alpha: 1);
}
