.Descuento {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  background: #00ce9d;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.Descuento h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 25px;
}

.Descuento p {
  font-size: 35px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin: 1px auto 10px;
  text-shadow: 1px 2px 2px #391a7d;
}


@media only screen and (min-width: 850px){
  .Descuento{
    width: 100%;
  }
}