.Carousel {
    width: 80%;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.Carousel__container {
    white-space: nowrap;
    margin: 30px 0px;
    padding-bottom: 10px ;
    /* overflow: hidden; */
}

.Carousel-item {
    background-color: tomato;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.Carousel-item:hover ~ .Carousel-item{
    transform: translate3d(100px, 0, 0);
}

.Carousel__container:hover .Carousel-item {
    opacity: 0.3;
}

.Carousel__container:hover .Carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.Carousel-item__img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.Carousel-item__details {
    background: linear-gradient(to top rgba (0, 0, 0, 0.9) 0%, rgba (0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    color: white;
    text-shadow:2px 2px 2px black;
}

.Carousel-item__details:hover {
    opacity: 1;
}

.Carousel-item__details p{
    margin:2px 0px;
}

.Carousel-item__details--title{
    font-size: 12px;
}