.descubrir__contenedor--form {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  width: 90%;
  height: auto;
  margin: 12px auto;
  padding: 14px 0;
}

.descubrir__contenedor--form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.descubrir__contenedor--form p {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  width: 70%;
  text-align: center;
  margin: 10px auto 22px;
}

.descubrir__contenedor--form input {
  border: none;
  background: #fff;
  border-radius: 12px;
  width: 85%;
  height: 40px;
  align-self: center;
  margin: 5px auto;
  color: rgb(80, 80, 80);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
  outline: none;
}

::placeholder {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.descubrir__contenedor--form input:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}

@media only screen and (max-width: 550px) {
  .descubrir__contenedor--form {
    width: 90%;
  }
}

@media only screen and (min-width: 850px){
  .descubrir__contenedor--form {
    background: transparent;
  }
}