.precio-figura {
  width: 100%;
  margin: 0;
}

.figura {
  width: 100%;
  height: 150px;
  padding-top: 10px;
  background: #00ce9d;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.figura b {
  font-size: 20px;
}

@media only screen and (max-width: 550px) {
  .precio-figura {
    width: 90%;
  }
}
