.header {
  align-items: center;
  background-color: #391A7D;
  display: flex;
  justify-content: space-around;
  top: 0px;
  width: 100%;
}

.header__img {
  width: 80px;
}

.header__menu {
  align-items: center;
  display: flex;
}

.header__menu--botones ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__menu--botones li {
  margin: 10px 10px;
}

.header__menu--botones li a {
  color: #ffffff;
  display: block;
  max-width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  /*font-variant: small-caps;*/
}

.header__menu--botones li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.header__menu--buscador input {
  background-color: rgba(250, 248, 248, 0.3);
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0px 20px;
}

.header__menu--noticifaciones {
  display: flex;
  margin: 0 20px;
}

.header__menu--noticifaciones img {
  height: 30px;
  margin: 10px;
  object-fit: contain;
}

::placeholder {
  color: white;
}

.header__menu--hamburguesa {
  display: none;
}

input#abrir-cerrar {
  position: absolute;
  visibility: hidden;
}

.toggle-button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 30px;
  position: relative;
  width: 30px;
}

.toggle-button:before,
.toggle-button:after {
  box-sizing: border-box;
  content: " ";
  display: block;
  left: calc(100% / 4);
  position: absolute;
  transition: all 0.2s ease-out;
  width: calc(100% / 2);
  }

.toggle-button:before {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  height: calc(100% / 4);
  top: calc(100% / 4);
}

.toggle-button:after {
  background-color: #ffffff;
  bottom: calc(100% / 4);
  height: 1px;
}

input#abrir-cerrar:checked + .toggle-button:before,
input#abrir-cerrar:checked + .toggle-button:after {
  border-bottom: 0;
  height: 1px;
  top: calc(100% / 2);
}

input#abrir-cerrar:checked + .toggle-button:before {
  transform: rotate(45deg);
}

input#abrir-cerrar:checked + .toggle-button:after {
  transform: rotate(-45deg);
}
