.placa {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: none;
  align-self: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.placa h1 {
  font-size: 22px;
  font-weight: 600;
  color: #00ce9d;
  text-align: center;
}

.placa-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.placa input {
  border: none;
  background: #fff;
  border-radius: 12px;
  width: 60%;
  height: 50px;
  align-self: center;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

::placeholder {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.placa--Link {
  align-self: center;
  justify-self: center;
}

.cargando{
  animation: bounceIn 0.5s infinite;
  width: 70;
  height: 46px;
}