.Pay {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: none;
  align-self: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Pay-title {
  justify-content: center;
  align-items: center;
  height: 45px;
  width: auto;
  margin: 16px;
  object-fit: contain;
  margin: 10px;
}

.Pay-subtitle {
  justify-content: center;
  align-self: center;
  font-size: 18px;
  color: #00ce9d;
  font-weight: bold;
  margin: 10px;
}

.Safe {
  display: flex;
  padding: 0 40px 0 40px;
}

.Safe img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  align-self: center;
}

.Safe p {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  align-self: center;
}
