.product-section {
  display: inline-block;
  background: #ffffff;
  border-radius: 12px;
  height: auto;
  width: 100%;
  align-self: center;
}

.product-header {
  display: flex;
  background: none;
  justify-content: space-between;
  align-content: center;
}

.product-header h2 {
  color: #391a7d;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

.TrashButton {
  align-self: center;
}

.TrashButton-button {
  border: none;
  margin-right: 20px;
  background: none;
  outline: none;
  :hover {
    cursor: pointer;
    background: #707070;
  }
}

.TrashButton-button img {
  height: 18px;
}

.product-main {
  display: flex;
  border-top: solid 1px rgba($color: #707070, $alpha: 0.3);
  flex-direction: row;
}

.product-main img {
  overflow: hidden;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  max-width: 325px;
}

.product-main_info {
  display: inline;
  padding: 7px;
  min-width: 250px;
  align-self: center;
}

.product-main_info_subtotal {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgba($color: #707070, $alpha: 0.3);
  margin-top: 15px;
  margin-bottom: 0;
}

.subtotal-title {
  font-size: 12px;
  margin-bottom: 5px;
}

.subtotal-price {
  font-size: 14px;
  color: #9c9c9c;
  margin-bottom: 5px;
}

.product-main_info button {
  background: #00ce9d;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.product-footer {
  display: flex;
  background: #00ce9d;
  height: 40px;
  border-radius: 0 0 12px 12px;
  justify-content: center;
  align-content: center;
}

.product-footer p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-self: center;
}

@media only screen and (max-width: 430px){

  .product-main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

}