.tipostarjetas{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tipotarjeta {
  background: #fff;
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
  margin: auto;
}

.tipotarjeta__titulo{
  width: 100%;
  display: flex;
  border-radius: 12px 12px 0 0;
  align-items: center;
  justify-content: center;
  background:  #00ce9d;
}

.tipotarjeta__titulo h3{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #391a7d;
}

.tipotarjeta__body{
  margin: 15px;
}

.tarjeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
  border-bottom: 0.5px solid rgb(179, 179, 179);
}

.tarjeta img {
  width: 30px;
  margin-left: 5px;
}

.tarjeta label {
  width: 80%;
  margin: 2px 0;
  font-size: 16px;
  padding: 10px 15px 10px 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tarjeta input[type='radio']{
  display: none;
}

.tarjeta label:after{
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid #60AFF0;
  margin-right: 5px;
  border-radius: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.tarjeta input[type='radio']:checked + label:after{
  background: rgba(54, 31, 115 , 0.7) ;
  border: 3px solid #361F73;
}







@media only screen and (min-width: 850px){
  .tipotarjeta {
    width: 50%;
    max-width: 600px;
  }

  .tarjeta {
    margin: 20px 0;
    border-bottom: 1px solid rgb(179, 179, 179);
  }

  .tipostarjetas{
    flex-direction: row;
    max-width: 1100px ;
    width: 80%;
    margin: auto;
  }
  .mostrardebito{
    width: 100%;
  }

  .mostrarcredito{
    width: 100%;
  }
}