.tipotarjeta {
  width: 350px;
  border-radius: 25px 25px 0 0;
  margin: auto;
  padding: 10px;
  position: relative;
  font-family: 'Public Sans', sans-serif;
}

.tipotarjeta__titulo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 8px 10px;
  border-bottom: 1px solid dimgray;
}

.tipotarjeta__titulo h3{
  font-weight: 400;
}

.tipotarjeta__body{
  margin: 15px;
}

.tarjeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
  border-bottom: 0.5px solid rgb(179, 179, 179);
}

.tarjeta img {
  width: 30px;
  margin-left: 5px;
}

.tarjeta label {
  width: 80%;
  margin: 2px 0;
  font-size: 16px;
  padding: 10px 15px 10px 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tarjeta input[type='radio']{
  display: none;
}

.tarjeta label:after{
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid #60AFF0;
  margin-right: 5px;
  border-radius: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.tarjeta input[type='radio']:checked + label:after{
  background: rgba(54, 31, 115 , 0.7) ;
  border: 3px solid #361F73;
}