.valor {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  border: none;
  align-self: center;
  margin: 10px auto 15px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.valor-title {
  width: 90%;
  height: 100%;
  background: #391a7d;
  border-radius: 12px 12px 0 0;
  border: none;
  align-self: center;
}

.valor-title p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.valor-precio {
  width: 90%;
  height: 100%;
  background: #fff;
  border-radius: 0 0 12px 12px;
  border: none;
  align-self: center;
  padding-top: 10px;
}

.valor-precio h1 {
  font-size: 36px;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin: 15px auto;
}

.valor--Link {
  align-self: center;
  justify-self: center;
}


@media only screen and (min-width: 850px){
  .valor{
    width: 80%;
    background: none;
  }
}
