.valor {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  border: none;
  align-self: center;
  margin: 10px auto 15px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.valor-title {
  width: 90%;
  height: 100%;
  background: #391a7d;
  border-radius: 12px 12px 0 0;
  border: none;
  align-self: center;
}

.valor-title p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.valor-precio {
  width: 90%;
  height: 100%;
  background: #fff;
  border-radius: 0 0 12px 12px;
  border: none;
  align-self: center;
  padding-top: 10px;
}

.valor-precio h1 {
  font-size: 36px;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin: 15px auto;
}

.valor--Link {
  align-self: center;
  justify-self: center;
}


.boton_agregaralacesta{
  transition: top 0.35s ease;
  width: 90%;
  height: 40px;
  background: #ff4500;
  border: none;
  border-radius: 12px;
  margin: 10px auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.boton_agregaralacesta p{
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}

.modalgancho{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(11, 1, 33, 0.9);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.74s ease;
}

.content-modalgancho{
  position: relative;
  top: -100vh;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: 0.75s ease;
}

.modalgancho:target{
  visibility: visible;
  opacity: 1;
}
.modalgancho:target .content-modalgancho{
  top: 0;
}


@media only screen and (min-width: 850px){
  .valor{
    width: 80%;
    background: none;
  }
}

@media only screen and (min-width: 650px){
  
}