.ingresaPlaca {
  background-image: linear-gradient(to top, rgba(0, 206, 157, 0.39), #391a7dd9), url('../../img/fondos/ingresa_placa.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Contenedor_ingresa_placa{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  max-width: 1000px ;
  width: 80%;
  margin: 40px 0;
}

@media only screen and (max-width: 800px){
  .Contenedor_ingresa_placa{
    display: flex;
    flex-direction: column-reverse;
  }
}