.pago-container {
  background: linear-gradient(to top, rgba(0, 206, 157, 0.39), #391a7dd9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pago {
  background: linear-gradient(
    to top,
    rgba(0, 206, 157, 0.39),
    rgba(57, 26, 125, 0.85)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.pago-title {
  font-size: 36px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.5);
}

.elegir {
  padding: 0 90px;
  width: 85%;
  height: 65px;
  background: #00ce9d;
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  font-weight: 700;
  font-style: SemiBold;
  font-size: 22px;
  line-height: 21, 15px;
  line-height: 100%;
  vertical-align: Center;
  color: #fff;
}

.containerList {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: none;
  align-self: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}

.pagar {
  width: 85%;
  height: 68px;
  background: #ff4500;
  border: none;
  margin-bottom: 10px;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  line-height: 100%;
  vertical-align: Center;
  color: #fff;
}
