.cesta {
  background-image: linear-gradient(to top, rgba(0, 206, 157, 0.39), #391a7dd9), url('../../img/fondos/ingresa_placa.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.cesta-title {
  margin: 0 0 5px 0;
  font-size: 36px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.5);
}

.cesta-listProducts{
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.cesta-listProducts h1{
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: bold;
  align-self: center;
  color: #391A7D;
  text-shadow: none;
}

.cesta-metodos {
  padding: 0px;
  border-radius: 15px;
  margin-left: 30px;
}

.contenedor-cesta{
  /* background: rgba(255, 255, 255, 0.7); */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 0px;
  max-width: 1100px;
}

.contenedor-cesta-1{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  padding: 0px;
  height: auto; //
}

.PasoPaso1 {
  margin: 0;
  width: 480px;
}

.botonCesta{
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
}

.botonCesta button{
  font-size: 30px;
  height: 50px;
  width: 100%;
  max-width: 1100px;
  margin: 0 0 0 0;
  border-radius: 15;
  padding: 0;
}

.cesta_img-carga{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 930px){
  .cesta {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: auto;
  }

  .cesta-listProducts{
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .contenedor-cesta{
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
  }

  .contenedor-cesta-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
  }

  .cesta-metodos{
    padding: 15px 0;
    margin: 0;
  }

}

@media only screen and (max-width: 360px){

  .PasoPaso1{
    width: 330px;
  }

  .cesta{
    max-width: 330px;
  }

  .contenedor-cesta-1{
    max-width: 330px;
  }

  .cesta-metodos{
    width: 330px;
    margin: 0;
    padding: 20px 0;
  }
}