.Comprador--Container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  border: none;
  align-self: center;
  margin: auto;
}
