.listOfItems {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

.listOfItems li {
  margin-top: 10px;
  align-self: center;
  justify-content: center;
}
