.popUpBeneficios {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 206, 157, 0.39), #391a7dd9);
  /* background: linear-gradient(to bottom, #361f73, #00ce9d); */
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
