.Soat {
  background: linear-gradient(to top, rgba(0, 206, 157, 0.2), #391a7dd9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  border-radius: 12px;
  margin: 10px auto;
}

.Soat--descuento {
  margin: 20px 30px;
  text-align: center;
}

.Soat--descuento h1 {
  font-size: 36px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.5);
}

.Soat--descuento p {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.Soat--descuento .boton_aqui {
  font-size: 22px;
  font-weight: 900;
  color: #00ce9d;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  transition: all 0.15s linear;
}

.Soat--descuento .boton_aqui:hover{
  color: #60aff0;
  cursor: pointer;
}

.modal{
  position: fixed;
  top: -100vh;
  z-index: 99999999;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.35s ease;
}

.modal .content-modal{
  position: fixed;
  top: -100vh;
  transition: top 0.35s ease;
  z-index: 99999999;
}

.modal:target{
  opacity: 1;
  top: 0;
}

.modal:target .content-modal{
  top: 10px;
  transition: top 0.35s ease;
}

@media only screen and (max-width: 850px){
  .Soat{
    width: 100%;
  }
}
